* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

body {
	min-height: 100%;
	min-width: 1090px;
	background-color: #fff;
}

.clear:after {
	display: block;
	content: "";
	clear: both;
}

.warp {
	width: 100%;
	position: relative;
}

.secation {
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 420px;
}

.section2 {
	width: 1090px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	margin-top: 30px;
}

.section2:before {
	content: " ";
	display: table;
}

.comhead {
	height: 48px;
	padding-bottom: 20px;
}

.comhead:before {
	content: " ";
	display: table;
}

.f-left {
	line-height: 1;
	float: left;
}

.left-a {
	display: inline-block;
	color: #333;
}

.comh3 {
	font-size: 28px;
	font-weight: 700;
	line-height: 1;
	display: inline-block;
	margin-right: 20px;
}

.comh3:hover {
	color: #b4a078;
}

.frontname {
	padding-top: 13px;
	display: inline-block;
	line-height: 1;
	font-size: 14px;
}

.f-right {
	line-height: 1;
}

.right-a {
	color: #333333;
	line-height: 1;
	float: right;
	margin-left: 30px;
	padding-top: 14px;
	cursor: pointer;
}

.right-a:hover {
	color: #b4a078;
}

.bd {
	box-sizing: border-box;
}

.bdlist {
	overflow: hidden;
}

.bd-large {
	display: block;
	height: 320px;
	width: 357px;
	float: left;
	margin-left: 9px;
	overflow: hidden;
	position: relative;
	text-align: center;
}

.bd-large:first-child {
	margin-left: 0;
}

.mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.name {
	font-size: 24px;
	margin: 48px 0 19px;
	line-height: 1;
	border-right: 0;
	border-left: 0;
	position: relative;
	z-index: 3;
	color: #666;
}

.spsize {
	color: #666;
}

.sppic {
	position: absolute;
	top: -3px;
	font-size: 11px;
	margin-left: 2px;
	text-align: center;
	line-height: 19px;
	width: 32px;
	height: 21px;
	color: #fff;
	background: url(img/18ccda99a6f55ef573b3fb098b4d01b8.png) center no-repeat;
}

.price {
	font-size: 14px;
	padding-top: 17px;
	display: inline-block;
	width: auto;
	border-top: 1px solid #666;
	position: relative;
	z-index: 3;
	color: #666;
}

.imgload {
	width: 100%;
	height: 100%;
	bottom: 0;
	left: 0;
	position: absolute;
	text-align: center;
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-o-transition: -o-transform 1s;
	transition: transform 1s;
	z-index: 1;
}

.imgload:hover {
	transform: scale(1.1);
}

.bd-large1 {
	height: 155px;
}

.last1 {
	margin-top: 10px;
}

.name1 {
	font-size: 20px;
	margin: 32px 0 10px 20px;
	text-align: left;
}

.price1 {
	padding-top: 10px;
	margin-left: 20px;
	float: left;
}

.bd-large1 img {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	text-align: center;
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-o-transition: -o-transform 1s;
	transition: transform 1s;
	z-index: 1;
}

.section3 {
	width: 1090px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	height: 510px;
	padding-top: 60px;
}

.grow::before {
	content: " ";
	display: table;
}

.slickWidth {
	width: 1090px;
	overflow: hidden;
}

.product {
	float: left;
	height: 100%;
	min-height: 1px;
	width: 265px;
	margin-right: 10px;
	text-align: center;
}

.product:last-child {
	margin-right: 0;
}

.hd {
	position: relative;
	margin-bottom: 8px;
	overflow: hidden;
	background-color: #f4f4f4 !important;
}

.hover {
	width: 265px;
	height: 265px;
	position: absolute;
	top: 0;
	display: none;
}

.product1:hover .hover {
	display: block;
}

.product1:hover {
	box-shadow: 1px 1px 8px rgba(0, 0, 0, .2);
	background-color:
		#f4f0ea;
}

.promoLogo {

	width: 48px;
	height: 48px;
	position: absolute;
	left: 6px;
	top: 6px;
}

.prombanner {
	text-align: left;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30px;
	background-repeat: no-repeat;
	padding-right: 10px;
	background: no-repeat url("img/d03b0828cbcc0a64b4c89c8c9c5e6345.png");
}

.promTitle {
	max-width: 200px;
	height: 36px;
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: right;
	margin-top: -6px;
	z-index: 1;
	padding-left: 8px;
	padding-right: 14px;
	float: left;
	border-top-left-radius: 3px;
	background: no-repeat url(img/879ed370f7374379256c00673dab7835.png);
}

.titles {
	font-size: 12px;
	height: 15px;
	margin-top: 5px;
	margin-left: 0;
	padding-top: 0;
	color: #fff;
}

.subTitle {
	font-size: 14px;
	height: 20px;
	line-height: 14px;
	margin-top: 2px;
	font-weight: 700;
	text-align: center;
	color: #fff;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.promContent {
	color: #fff;
	text-align: left;
	overflow: hidden;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-left: 4px;
	padding-left: 4px;
}

.prdtTags {
	height: 20px;
	font-size: 0;
	color: #fff;
	width: 200px;
	margin: 0 auto 3px;
	overflow: hidden;
}

.h4 {
	margin-bottom: 4px;
	height: 20px;
	line-height: 20px;
	padding: 0 10px;
}

.h4 a span {
	font-size: 14px;
	color: #333;
}

.price2 {
	font-size: 13px;
	line-height: 13px;
	color: #d4282d;
	padding: 1px 0 9px;
	margin: 0;
}

.retailPrice {
	position: relative;
	top: 1px;
}

.retailPrice span {
	line-height: 13px;
	height: 13px;
	padding: 0;
	display: inline-block;
	overflow: hidden;
}

.m-index {
	padding: 60px 0;
	background: #f4f0ea;
	box-sizing: border-box;
}

.g-row {
	width: 1090px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

.item {
	text-align: center;
	float: left;
	font-size: 14px;
	width: 70px;
	height: 28px;
	line-height: 28px;
	margin-right: 55px;
}

.item a {
	color: #333;
}

.frontname ul .active a {
	color: #b4a078;
}

.frontname ul .active {
	border-bottom: 2px solid #b4a078;
}

.showContainer {
	clear: both;
	overflow: hidden;
	display: none;
}
.m-index .show{
	display: block;
}
.m-product {
	background-color: #fff;
	overflow: hidden;
	width: 223px;
	height: 260px;
	float: left;
	margin-left: 10px;
	text-align: center;
}

.showContainer .m-product:first-child {
	width: 390px;
	height: 530px;
	margin-left: 0;
}

.showContainer .m-product:first-child .prdtTags {
	margin-bottom: 10px;
}

.showContainer .m-product:first-child .bttom .h4 {
	margin-bottom: 13px;
	font-size: 18px;
}

.showContainer .m-product:first-child .bttom .h4 a span {
	font-size: 18px;
}

.price2>.size>span {
	display: inline-block;
	font-size: 13px;
	line-height: 13px;
	height: 13px;
}

.showContainer .size:first-childspan {
	display: inline-block;
	font-size: 18px;
	line-height: 18px;
	height: 18px;
}

.m-popularItem .img {
	width: 180px;
	height: 180px;
	transition: 0.5s linear;
}

.m-popularItem:first-child .img {
	width: 320px;
	height: 320px;
	margin: 40px 35px;
	transition: 0.5s linear;
}

.m-popularItem .img:hover {
	transform: scale(1.1);
}

.down {
	margin-top: 10px;
}

.showContainer .m-popularItem {
	background-color: #fff;
	overflow: hidden;
	width: 223px;
	height: 260px;
	float: left;
	margin-left: 10px;
	margin-right: 0;
	text-align: center;
}

.section4 {
	transition: all .6s;
	opacity: 1;
	height: 483px;
}

.er {
	width: 1090px;
	height: 377px;
	position: relative;
	top: 48px;
}

.footer {
	width: 100%;
	height: 550px;
	position: relative;
	top: 120px;
	padding-bottom: 34px;
}

.yx_cp {
	width: 1090px;
	height: 304px;
	background-color: #fff;
	padding-top: 60px;
	margin: 0 auto;
	border-top: 1px solid #e8e8e8;
}

.yx-cp-item {
	width: 362px;
	height: 204px;
	float: left;
	border-left: 1px solid #e9e9e9;
}

.yx-cp-hd {
	width: 364px;
	height: 16px;
	text-align: center;
	display: block;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 28px;
	line-height: 1;
}

.yx-w {
	width: 80px;
	height: 100px;
	font-size: 14px;
	background-color: #fff;
	padding-top: 25px;
	text-align: center;
	border: 1px solid #E8E8E8;
	line-height: 26px;
	color: #333;
	display: block;
	float: left;
	margin-left: 60px;
	cursor: pointer;
}

.yx-cp-y {
	background-image: url(img/icon-yxfoot-sb38e8b0402-214e6650b9.png);
	background-position: 0 -290px;
	height: 26px;
	width: 31px;
	margin-left: 25px;
	display: block;
}

.yx-on1 {
	background-image: url(img/icon-yxfoot-sb38e8b0402-214e6650b9.png);
	background-position: 0 -97px;
	height: 26px;
	width: 31px;
	margin-left: 25px;
	display: block;
}

.yx-w:hover .yx-on1 {
	background-position: 0 -60px;
}

.yx-w:hover .yx-cp-y {
	background-position: 0 -254px;
}

.yx-w:hover .yx-f {
	color: #B3A07D;
}

.yx-f {
	margin-top: 10px;
}

.yx-cp-desc {
	width: 289px;
	height: 69px;
	display: block;
	margin-left: 40px;
	text-align: left;
	font-size: 13px;
	line-height: 23px;
	margin-bottom: 22px;
}

.lxwm {
	width: 363px;
	height: 42px;
	padding: 0 37px;
	line-height: 1;
	text-align: left;
}

.yx-cp-title {
	margin-right: 15px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 32px;
	float: left;
}

.lxwm ul {
	width: 126px;
	height: 42px;
	float: left;
}

.lxwm li {
	width: 32px;
	height: 32px;
	float: left;
	margin-right: 10px;
}

.lxwm li:nth-child(1) {
	background-image: url(img/icon-yxfoot-sb38e8b0402-214e6650b9.png);
	background-position: 0 -470px;
	height: 32px;
	width: 32px;
}

.lxwm li:nth-child(2) {
	background-image: url(img/icon-yxfoot-sb38e8b0402-214e6650b9.png);
	background-position: 0 -428px;
	height: 32px;
	width: 32px;
}

.lxwm li:nth-child(3) {
	background-image: url(img/icon-yxfoot-sb38e8b0402-214e6650b9.png);
	background-position: 0 -326px;
	height: 32px;
	width: 32px;
}

.ma {
	width: 123px;
	height: 125px;
	position: relative;
	top: 38px;
	left: -47px;
	display: none;
}

.ma1 {
	position: relative;
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 10px;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
}

.lxwm li:hover .ma {
	display: block;
}

.j-yx-cp-footQRcode img {
	width: 103px;
	height: 103px;
	float: left;
	margin-left: 130px;
}

.yx-cp-tip {
	color: #b4a078;
	font-size: 12px;
	margin-top: 3px;
	float: left;
	width: 362px;
	height: 18px;
	display: block;
	text-align: center;
}

.yx-cp-m-ft2 {
	width: 100%;
	height: 250px;
	padding-top: 37px;
	background-color: #414141;
}

.yx-cp-row {
	width: 1090px;
	height: 187px;
	margin: 0 auto;
	position: relative;
}

.yx-cp-m-siteEnsure {
	width: 1090px;
	height: 51px;
	float: left;
	margin-bottom: 30px !important;
	padding-left: 17px;
}

.yx-cp-m-siteEnsure li {
	width: 205px;
	height: 51px;
	float: left;
	margin-right: 63px;
	color: #fff;
	font-size: 18px;
	line-height: 51px;
}

.ease {
	margin-right: 17px;
	float: left;
	background-image: url(img/icon-yxfoot-sb38e8b0402-214e6650b9.png);
	height: 50px;
	width: 50px;
}

.ease1 {
	background-position: 0 -134px;
}

.ease2 {
	background-position: 0 -368px;
}

.ease3 {
	background-position: 0 0;
}

.ease4 {
	background-position: 0 -194px;
}

.yx-cp-hr {
	height: 1px;
	top: -125px;
	position: relative;
	background-color: #4f4f4f;
	border: 0;
}

.yx-cp-m-siteInfo {
	width: 1090px;
	height: 78px;
	text-align: center;
	color: #999;
	position: relative;
	margin: 0 auto;
	top: -100px;
}

.yx-cp-text {
	color: #999;
	text-align: center;
	font-size: 12px;
}

.yx-cp-split {
	margin: auto 13px;
	text-align: center;
	color: #999;
	font-size: 12px;
}

.yx-cp-copyright {
	white-space: nowrap;
	margin: 11px 0;
	text-align: center;
	color: #999;
}

.yx-cp-copyright a {
	color: #999;
	margin-right: 15px;
	font-size: 12px;
}

.yx-cp-copyright span {
	color: #999;
	margin-right: 15px;
	font-size: 12px;
}

.yx-cp-police a {
	color: #999;
	margin-right: 15px;
	font-size: 12px;
}

.yx-cp-police span {
	color: #999;
	margin-right: 15px;
	font-size: 12px;
}

.yx-cp-shield img {
	width: 23px;
	height: 25px;
	margin-top: -5px;
}

.yx-cp-m-siteInfo a:hover {
	color: white;
}

.yx-cp-m-siteInfo span:hover {
	color: white;
}

.item1 {
	width: 224px;
	height: 376px;
	float: left;
	top: 30px;
}

.item1 ul li {
	width: 224px;
	height: 376px;
	overflow: hidden;
	position: absolute;
	opacity: 0;
	transition: all 1s ease-in-out;
}

.item1 ul li img {
	width: 100%;
	height: 100%;
}

.item1 ol {
	position: absolute;
	bottom: 14px;
	width: 72px;
	left: 70px;
	display: flex;
	justify-content: space-around;
}

#bt3 {
	position: absolute;
	z-index: 9;
	top: 200px !important;
	width: 50px;
	height: 50px;
	cursor: pointer;
	opacity: 80;
	left: 0%;
	background-color: #D0C4AF;
	outline: none;
	border: 0;
	background-image: url(img/icon-normal-s33e647f656-a21248af33.png);
	background-repeat: no-repeat;
	background-position: 0 -5408px;
	border-radius: 50%;
	display: none;
	transition: all 1s linear;
}

#bt4 {
	position: absolute;
	z-index: 9;
	top: 200px !important;
	width: 50px;
	height: 50px;
	cursor: pointer;
	opacity: 80;
	right: 79.5%;
	background-color: #D0C4AF;
	outline: none;
	border: 0;
	background-image: url(img/icon-normal-s33e647f656-a21248af33.png);
	background-repeat: no-repeat;
	background-position: 0 -5628px;
	border-radius: 50%;
	display: none;
	transition: all 1s linear;
}

.item1 ul li img {
	width: 100%;
	height: 420px;
}

.item1:hover #bt3 {
	display: block;
}

.item1:hover #bt4 {
	display: block;
}

.flashSaleL {
	width: 224px;
	height: 377px;
	position: relative;
	float: left;
	margin-top: -50px;
	background: url(img/c9aeb62a3f79123d793d8c49b6698b09.jpg);
}

.timeqw {
	width: 224px;
	height: 40px;
	float: left;
	margin-left: 45px;
	margin-top: 18px;
}

.timeqw i {
	width: 40px;
	height: 40px;
	display: block;
	float: left;
	text-align: center;
	font-size: 22px;
	font-style: normal;
	font-weight: 500;
	color: white;
	line-height: 40px;
	background-color: #615548;
}

.timeqw span {
	float: left;
	text-align: center;
	width: 10px;
	height: 40px;
	font-size: 22px;
	display: block;
	line-height: 40px;
}

.screenHd {
	height: 36px;
	width: 224px;
	font-size: 28px;
	line-height: 36px;
	margin-top: 60px;
	color: #615548;
	float: left;
	text-align: center;
}

.line {
	width: 20px;
	height: 2px;
	float: left;
	margin-left: 105px;
	background: #61594b;
}

.screenEndTips {
	width: 224px;
	margin-top: 18px;
	font-size: 18px;
	color: #615548;
	float: left;
	line-height: 22px;
	height: 22px;
	text-align: center;
}

.seeMoreBtn {
	width: 110px;
	float: left;
	display: block;
	width: 110px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	font-size: 14px;
	background-color: #a7936e;
	cursor: pointer;
	border-radius: 30px;
	text-align: center;
	margin-left: 65px;
	margin-top: 60px;
}

.rt {
	width: 433px;
	height: 189px;
	float: left;
	margin-top: -50px;
	box-sizing: border-box;
	border: 1px solid #f0ece4;
}

.rt1 {
	width: 433px;
	height: 189px;
	float: left;
	box-sizing: border-box;
	border: 1px solid #f0ece4;
}

.lt {
	width: 180px;
	height: 180px;
	float: left;
	margin-top: 4px;
	overflow: hidden;
}

.img1 {
	width: 180px;
	height: 180px;
	transition: all 0.5s linear;
}

.rt:hover .img1 {
	transform: scale(1.04);
}

.rt1:hover .img1 {
	transform: scale(1.04);
}

.sd {
	height: 187px;
	padding-top: 14px;
	width: 233px;
	float: left;
}

.itemName {
	height: 26px;
	line-height: 16px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.itemName a {
	font-size: 16px;
	font-weight: 400;
	color: black;
}

.itemName a:hover {
	color: #B3A07D;
}

.itemDes {
	height: 24px;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: #999;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	top: 10px;
}

.numBarIn {
	background-color: #ffe5e5;
	height: 10px;
	border-radius: 5px;
	min-width: 5%;
	margin-top: 15px;
}

.numTips {
	height: 14px;
	margin-left: 162px;
	font-size: 14px;
	color: #999;
	line-height: 14px;
	margin-top: -15px;
}

.yen {
	font-size: 18px;
	vertical-align: -2px;
	color: #be4141;
	float: left;
	margin-top: 10px;
}

.num {
	vertical-align: -2px;
	font-size: 24px;
	font-weight: 700;
	color: #be4141;
	float: left;
	margin-top: 3px;
}

.oPriceIn {
	color: #999;
	font-size: 14px;
	line-height: 1;
	text-decoration: line-through;
	float: left;
	margin-top: 15px;
	margin-left: 15px;
}

.w-btn {
	display: block;
	width: 118px;
	height: 31px;
	float: left;
	margin-top: 18px;
	line-height: 31px;
	margin-left: 10px;
	text-align: center;
	font-size: 16px;
	border-radius: 2px;
	cursor: pointer;
	background-color: #be4141;
	color: #fff;
}

.w-btn:hover {
	background-color: #da4f4f;
}

.section5 {
    margin-top: 60px;
    padding: 54px 0 52px;
    height: 526px;
    background-color: #f4f0ea;
}

.section5 .grow {
	margin-top: 0;
}

.subCateList {
	float: right;
	font-size: 14px;
	padding-top: 14px;
}

.subCateList span a {
	color: #333;
}

.spilt {
	margin: 0 13px;
}

.asd {
	width: 224px;
	height: 376px;
	float: left;
	background-color: red;
}
.g-row .moudle {
    width: 588px;
    height: 376px;
    float: left;
    background-color: white;
    padding: 0 17px 0 19px;
}
.moudle .moduleHd {
    width: 588px;
    height: 24px;
    font-size: 18px;
    border-bottom: 1px solid #F4F0EA;
    padding: 19px 0px 12px 0px;
}
.moudle_a .moduleHd{
	height: 24px;
}
.g-row .moudle_a {
    width: 199px;
    height: 188px;
    padding: 0 20px 0 22px;
    position: absolute;
    right: 0;
    top: 68px;
    background-color: white;
    border-left: 1px solid #F4F0EA;
}
.section6{
	width: 100%;
    position: relative;
	margin-top: 60px;
}
.banner{
	margin-bottom: 20px;
}
.reactid{
	width: 1090px;
	overflow: hidden;
	margin-bottom: 50px;
}
.section7{
    margin-top: 60px;
    padding: 54px 0 52px;
    height: 526px;
}
.expertContent .a1{
	float: left;
	margin-left: 0;
    width: 690px;
}
.expertContent .a2{
	float: left;
	margin-left: 10px;
}
.expertContent .a3{
	float: left;
	margin-left: 10px;
	margin-top: 6px;
}
.expertContent a .img1{
	width: 690px;
    height: 380px;
}
.expertContent a .img2,.img3{
    width: 390px;
    height: 185px;
}
.m-itemTag{
	display: inline-block;
    height: 20px;
    line-height: 20px;
    color: #fff!important;
    padding: 0 5px;
    font-size: 12px;
    background-color: #e36844;
}
.section8{
	background-color: #f4f0ea;
    padding: 60px;
    overflow: hidden;
    height: 480px;
}
.section8 .main{
	width: 1100px;
    height: 492px;
    position: relative;
}
.top{
	width: 355px;
    height: 355px;
    position: absolute;
    top: 0;
    overflow: hidden;
    cursor: pointer;
}
.bottoms{
    width: 315px;
    height: 186px;
    padding: 20px 15px;
    overflow: hidden;
    background: #fff;
    position: absolute;
    bottom: 0;
}
.main h4{
	overflow: hidden;
    margin-top: 20px;
    text-align: left;
}
.main h4 span{
	float: left;
    width: 189px;
    color: #333333;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}
.main h4 i{
	float: right;
    color: #b4a078;
    font-size: 13px;
    margin-top: 5px;
	margin-right: 15px;
	font-style: normal;
}
.main p{
	font-size: 13px;
    color: #333333;
    text-align: left;
    margin-top: 20px;
}
#next{
	width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 80;
	background: url(img/icon-normal-s33e647f656-a21248af33.webp) no-repeat;
	background-position: 0 -5408px;
	background-color: #D0C4AF;
	position: absolute;
	top: 200px;
	left: -60px;
	
	
}
#prev{
	width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 80;
	background: url(img/icon-normal-s33e647f656-a21248af33.webp) no-repeat;
	background-position: 0 -5628px;
	background-color: #D0C4AF;
	position: absolute;
	top: 200px;
	right: -60px;
}